@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "RethinkSans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(./../fonts/RethinkSans-Regular.ttf) format("truetype");
    }

    @font-face {
        font-family: "RethinkSans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(./../fonts/RethinkSans-Medium.ttf) format("truetype");
    }

    @font-face {
        font-family: "RethinkSans";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./../fonts/RethinkSans-SemiBold.ttf) format("truetype");
    }

    @font-face {
        font-family: "RethinkSans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./../fonts/RethinkSans-Bold.ttf) format("truetype");
    }

    @font-face {
        font-family: "RethinkSans";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(./../fonts/RethinkSans-ExtraBold.ttf) format("truetype");
    }
}
