html,
body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.bg-img {
    /* The image used */
    background-image: url("img/241e530807877ba67eba809c32b7f588.png");

    min-height: 700px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
.container {
    position: absolute;
    margin: 20px;
    width: auto;
    max-width: -webkit-fill-available;
    width: 100%;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: #ede9e9;
    padding: 8px;
    border-radius: 5.13px;
    display: flex;
    justify-content: space-between;
}

/* Navbar links */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.home-logo {
    width: 50%;
}
.home-logo svg {
    width: 90%;
    height: 50px;
}
.login-info {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link a {
    display: grid;
    align-items: center;
    justify-items: end;
}
.link svg {
    width: 40%;
    height: 50px;
    display: -webkit-box;
}

.Register-btn {
    display: flex;
    text-align: center;
    padding: 0px 8px 0px 0px;
}
.Register-btn a {
    text-decoration: none;
    background-color: rgb(33, 42, 47);
    padding: 13px 25px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 10.67px;
    border: 1px solid #212a2f;
}
.section-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 379px;
    padding-top: 150px;
}
.sec-1 {
    width: 30%;
    background-color: white;
    border-radius: 20px;
    height: 450px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 45px 25px 45px;
    height: 88%;
}
.login h6 {
    padding: 15px;
}
.login-process {
    margin-bottom: 30px;
}
.login-detail {
    margin: 25px 0px 25px 0px;
    width: 95%;
}
.field {
    margin: 10px 0;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
}
.login-detail p {
    font-size: 10px;
    font-weight: bold;
}
input {
    padding: 9px 0px 7px 9px;
    font-size: 11px;
    width: 100%;
    height: 1.2rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid #efefef;
}

label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    padding-bottom: 15px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease-out 0.1s;
    font-size: 14px;
    color: #999;
    padding-top: 6px;
}
.btn {
    text-align: center;
    width: 92%;
    padding: 0.5rem;
    border: 1px solid transparent;
    background-color: #1a3636;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.web-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.web-link {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 4px 5px 4px;
}
.web-link a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 8px 5px 8px;
}
.web-link svg {
    height: 15px;
    padding-right: 5px;
}
.web-link a p {
    margin-bottom: 2px;
}
.Register {
    display: flex;
    margin-top: 15px;
}
.Register p {
    font-weight: 100;
}
.Register a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.footer {
    width: 100%;
    display: grid;
    justify-items: center;
    margin-top: 100px;
}
.ft-nav {
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}
.footer-logo {
    width: 15%;
}
.nav-menu {
    width: 50%;
}
.nav-menu a {
    text-decoration: none;
    padding: 20px 40px 20px 40px;
    color: black;
    text-align: center;
    font-size: 15px;
}
.footer-logo svg {
    height: 35px;
}
.istruction {
    width: 30%;
    text-align: center;
}
.istruction p {
    color: #0000004d;
    font-size: 15px;
}

@media (max-width: 800px) {
    .bg-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        background-image: url("img/241e530807877ba67eba809c32b7f588.png");

        min-height: 700px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
    }
    .container {
        position: absolute;
        margin: 20px;
        width: auto;
        max-width: -webkit-fill-available;
        width: 100%;
    }

    .topnav {
        overflow: hidden;
        background-color: #ede9e9;
        padding: 8px;
        border-radius: 5.13px;
        display: flex;
        justify-content: space-between;
    }

    /* Navbar links */
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }

    .home-logo {
        width: 20%;
    }
    .home-logo svg {
        width: 90%;
        height: 50px;
    }
    .login-info {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .link {
        display: none;
    }
    .signup {
        width: 30%;
    }
    .Register-btn {
        width: 45%;
    }
    .Register-btn a {
        font-size: 10px;
        color: white;
    }
    .web-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .web-link a {
        padding: 10px 8px 10px 8px;
    }
    .web-link {
        width: 30%;
    }
    .sec-1 {
        width: 90%;
    }
    .footer-logo {
        width: 20%;
    }
    .ft-nav {
        margin-bottom: 10px;
    }
    .footer-logo svg {
        height: 25px;
    }
    .nav-menu {
        width: 60%;
        display: flex;
        font-size: 10px;
        justify-content: center;
    }
    .nav-menu a {
        padding: 10px 20px 10px 20px;
        font-size: 13px;
    }
    .istruction {
        width: 20%;
        font-size: 10px;
    }
    .istruction p {
        font-size: 10px;
    }
}
