html,
body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.bg-img {
    background-image: url("img/241e530807877ba67eba809c32b7f588.png");
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 800px;
    align-items: center;
}
.header {
    width: 100%;
    display: grid;
    justify-items: center;
}
.navbar {
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}
.hd-logo {
    width: 70%;
}
.hd-logo svg {
    height: 50px;
}
.nav-right {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link svg {
    height: 25px;
}
.signup {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.register {
    text-decoration: none;
    background-color: rgb(33, 42, 47);
    padding: 13px 25px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 10.67px;
    border: 1px solid #212a2f;
}
.section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1-signup {
    width: 35%;
    background-color: white;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.signup-box {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.ac-create {
    margin-bottom: 25px;
}
.ac-detail {
    margin: 10px 0;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
}
input {
    padding: 15px 0px 15px 15px;
    font-size: 11px;
    width: 96%;
    height: 1.2rem;
    outline: none;
    border-radius: 8px;
    border: 1px solid #efefef;
    margin: 4px 0px 4px 0px;
}

label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    padding-bottom: 15px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease-out 0.1s;
    font-size: 14px;
    color: #999;
    padding-top: 6px;
}
.sec1-btn {
    width: 100%;
}
.sec1-btn button {
    text-align: center;
    width: 100%;
    padding: 12px 0px 12px 0px;
    border: 1px solid transparent;
    background-color: #1a3636;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.sec1-last {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.sec1-last p {
    font-size: 15px;
}
.sec1-last a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.ft-nav {
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}
.footer-logo {
    width: 15%;
}
.nav-menu {
    width: 50%;
}
.nav-menu a {
    text-decoration: none;
    padding: 20px 40px 20px 40px;
    color: black;
    text-align: center;
    font-size: 15px;
}
.footer-logo svg {
    height: 35px;
}
.istruction {
    width: 30%;
    text-align: center;
}
.istruction p {
    color: #0000004d;
    font-size: 15px;
}

/*resposive*/

@media (max-width: 900px) {
    .hd-logo {
        width: 30%;
        display: flex;
    }
    .hd-logo svg {
        width: 40%;
        height: 35px;
        margin-right: 35px;
    }
    .nav-right {
        width: 60%;
        justify-content: space-between;
    }
    .signup {
        font-size: 15px;
    }
    .register {
        font-size: 10px;
        padding: 12px 20px;
    }
    .link {
        display: none;
    }
    .sec1-signup {
        width: 75%;
    }
    .footer-logo {
        width: 20%;
    }
    .ft-nav {
        margin-bottom: 10px;
    }
    .footer-logo svg {
        height: 25px;
    }
    .nav-menu {
        width: 60%;
        display: flex;
        font-size: 10px;
        justify-content: center;
    }
    .nav-menu a {
        padding: 10px 20px 10px 20px;
        font-size: 13px;
    }
    .istruction {
        width: 20%;
        font-size: 10px;
    }
    .istruction p {
        font-size: 10px;
    }
}
